<counter ng-class="{'positive': true}" resize-event="handleResize()">
  <div ng-style="{
    '-o-transform': 'scale(' + scale + ')',
    '-ms-transform': 'scale(' + scale + ')',
    '-moz-transform': 'scale(' + scale + ')',
    '-webkit-transform': 'scale(' + scale + ')',
    'transform': 'scale(' + scale + ')'
  }">
    <value>
      <font color='{{ digitalPanelList[0].prefixColor }}'>{{ digitalPanelList[0].prefixContent }}</font>
      <br ng-if="isNewLine(digitalPanelList[0].prefixPosition)"/>
      <font color='{{ digitalPanelList[0].contentColor }}'><b>{{ getContentValue(digitalPanelList[0]) }}</b></font>
      <br ng-if="isNewLine(digitalPanelList[0].suffixPosition)"/>
      <font color='{{ digitalPanelList[0].suffixColor }}'>{{ digitalPanelList[0].suffixContent }}</font>
    </value>
    <value>
      <font color='{{ digitalPanelList[1].prefixColor }}'>{{ digitalPanelList[1].prefixContent }}</font>
      <br ng-if="isNewLine(digitalPanelList[1].prefixPosition)"/>
      <font color='{{ digitalPanelList[1].contentColor }}'><b>{{ getContentValue(digitalPanelList[1]) }}</b></font>
      <br ng-if="isNewLine(digitalPanelList[1].suffixPosition)"/>
      <font color='{{ digitalPanelList[1].suffixColor }}'>{{ digitalPanelList[1].suffixContent }}</font>
    </value>

  </div>
</counter>
