<div>
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}">
      <a ng-click="changeTab('general')">{{'General' | translate}}</a>
    </li>
    <li ng-class="{active: currentTab == 'xAxis'}">
      <a ng-click="changeTab('xAxis')" ng-if="!visualization.options.editOptions.horizontalBar">{{'X Axis' | translate}}</a>
      <a ng-click="changeTab('xAxis')" ng-if="visualization.options.editOptions.horizontalBar">{{'Y Axis' | translate}}</a>
    </li>
    <li ng-class="{active: currentTab == 'yAxis'}">
      <a ng-click="changeTab('yAxis')" ng-if="!visualization.options.editOptions.horizontalBar">{{'Y Axis' | translate}}</a>
      <a ng-click="changeTab('yAxis')" ng-if="visualization.options.editOptions.horizontalBar">{{'X Axis' | translate}}</a>
    </li>
    <li ng-class="{active: currentTab == 'graphicStyle'}">
      <a ng-click="changeTab('graphicStyle')">展现形式</a>
    </li>
    <li ng-class="{active: currentTab == 'drill'}">
      <a ng-click="changeTab('drill')">数据钻取</a>
    </li>
  </ul>
  <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">
    <div class="form-group">
      <label class="control-label" ng-if="!visualization.options.editOptions.horizontalBar">选择X列</label>
      <label class="control-label" ng-if="visualization.options.editOptions.horizontalBar">选择Y列</label>
      <div class="form-group">
        <ui-select name="xAxisColumns" ng-model="visualization.options.editOptions.categoryColumn" class="clearable">
        <ui-select-match allow-clear="true" placeholder="选择列...">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="column in queryResult.getColumnNames() | remove:visualization.options.editOptions.groupBy | remove:visualization.options.editOptions.valueColumns">
          <span ng-bind-html="column"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" ng-if="!visualization.options.editOptions.horizontalBar">选择Y列</label>
      <label class="control-label" ng-if="visualization.options.editOptions.horizontalBar">选择X列</label>
      <div class="form-group">
      <ui-select multiple name="yAxisColumns" required ng-model="visualization.options.editOptions.valueColumns">
        <ui-select-match placeholder="选择列">{{ $item }}</ui-select-match>
        <ui-select-choices repeat="column in queryResult.getColumnNames() | remove:visualization.options.editOptions.categoryColumn | remove:visualization.options.editOptions.groupBy">
          <span ng-bind-html="column"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">分组</label>
      <ui-select name="groupby" ng-model="visualization.options.editOptions.groupBy" class="clearable">
        <ui-select-match allow-clear="true" placeholder="选择列...">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="column in queryResult.getColumnNames() | remove:visualization.options.editOptions.categoryColumn | remove:visualization.options.editOptions.valueColumns">
          <span ng-bind-html="column"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.legend">
        <i class="input-helper"></i> 显示图例
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.showValueLabel">
        <i class="input-helper"></i> 在图形上显示数值
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.showMarkLine">
        <i class="input-helper"></i> 显示图形标线
      </label>
    </div>

    <div class="form-group" ng-if="visualization.options.editOptions.showMarkLine">
      <label class="control-label">图形标线值</label>
      <input ng-model="visualization.options.editOptions.markLineValue" type="number" step="any" min='any' class="form-control">
    </div>
    <div class="form-group" ng-if="visualization.options.editOptions.showMarkLine">
      <label class="control-label">选择标线的颜色</label>
        <ui-select ng-model="visualization.options.editOptions.markLineColor">
            <ui-select-match>
              <color-box color="$select.selected.value"></color-box>
            </ui-select-match>
            <ui-select-choices repeat="color as (key, color) in colors">
              <color-box color="color.value"></color-box>
              <span ng-bind-html="color.key"></span>
            </ui-select-choices>
          </ui-select>
    </div>


  </div>
  <div ng-if="currentTab == 'xAxis'" class="m-t-10 m-b-10" >

    <div class="form-group">
      <label class="control-label">轴类型</label>
        <ui-select ng-model="visualization.options.editOptions.horizontalAxisType">
            <ui-select-match placeholder="选择轴类型">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="type as (name ,type) in axisTypes">
              <span ng-bind-html="type.name"></span>
            </ui-select-choices>
          </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">名称</label>
      <input ng-model="visualization.options.editOptions.xName" type="text" class="form-control">
    </div>
  </div>

  <div ng-if="currentTab == 'yAxis'" class="m-t-10 m-b-10">

      <div class="form-group">
        <label class="control-label">名称</label>
        <input ng-model="visualization.options.editOptions.yName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">最小值</label>
        <input ng-model="visualization.options.editOptions.rangeMin" type="number" step="any" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">最大值</label>
        <input ng-model="visualization.options.editOptions.rangeMax" type="number" step="any" class="form-control">
      </div>

  </div>

  <div ng-if="currentTab == 'graphicStyle'" class="m-t-10 m-b-10" >

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.horizontalBar">
        <i class="input-helper"></i> 横向柱状图
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.stack">
        <i class="input-helper"></i> 堆叠柱状图
      </label>
    </div>

  </div>

  <div ng-if="currentTab == 'drill'" class="m-t-10 m-b-10">
    <div class="form-group">
      <label class="control-label">选择钻取数据所用仪表盘</label>
      <ui-select name="slug" ng-model="visualization.options.dataDrillingDashboard" class="clearable">
        <ui-select-match allow-clear="true" placeholder="选择仪表盘...">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="dashboard in visualization.options.dashboardsList">
          <span ng-bind-html="dashboard.name"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>
