<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title"><i class="fa fa-share-alt"></i> {{'Share' | translate}}</h4>
</div>
<div class="modal-body">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$ctrl.dashboard.publicAccessEnabled" ng-click="$ctrl.toggleSharing()" ng-disabled="!$ctrl.dashboard.canEdit()">
      {{'Allow public access (using a secret URL)' | translate}}.
    </label>
  </div>

  <div ng-if="$ctrl.dashboard.publicAccessEnabled">
    <div class="gds_flex_cont">
    <input type="text" class="form-control" value="{{$ctrl.dashboard.public_url}}" id="apiKey">&nbsp;
      <div class="btn-group gds_btn-group-border dropdown">
        <button type="button" class="btn btn-sm hidden-xs btn-default" ng-click="$ctrl.copyKey()">复制</button>
      </div>
    </div>
  </div>
</div>
