<div>
  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}">
      <a ng-click="changeTab('general')">{{'General' | translate}}</a>
    </li>
  </ul>
  <div ng-if="currentTab == 'general'" class="m-t-10 m-b-10">
    <div class="form-group">
      <label class="control-label">选择X列</label>
      <div class="form-group">
        <ui-select name="xAxisColumns" ng-model="visualization.options.editOptions.categoryColumn" class="clearable">
        <ui-select-match allow-clear="true" placeholder="选择列...">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="column in queryResult.getColumnNames() | remove:visualization.options.editOptions.groupBy | remove:visualization.options.editOptions.valueColumns">
          <span ng-bind-html="column"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">选择Y列</label>
      <div class="form-group">
      <ui-select name="yAxisColumns" required ng-model="visualization.options.editOptions.valueColumns">
        <ui-select-match placeholder="选择列">{{ $select.selected }}</ui-select-match>
        <ui-select-choices repeat="column in queryResult.getColumnNames() | remove:visualization.options.editOptions.categoryColumn | remove:visualization.options.editOptions.groupBy">
          <span ng-bind-html="column"></span>
        </ui-select-choices>
      </ui-select>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.editOptions.legend">
        <i class="input-helper"></i> 显示图例
      </label>
    </div>

  </div>

</div>
