{% extends "layouts/signed_out.html" %}

{% block title %}数据可视化系统初始设置{% endblock %}

{% macro render_field_errors(field) -%}
  {% if field.errors %}
    {% for e in field.errors %}
      <p class="help-block">{{ e }}</p>
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro render_field(field, help_block=None) -%}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label() }}
    {{ field(class='form-control') }}
    {% if help_block %}
        <p class="help-block">{{ help_block }}</p>
    {% endif %}
    {{ render_field_errors(field) }}
  </div>
{%- endmacro %}

{% block content %}
<div class="fixed-width-page_out">
  <div class="bg-white tiled">
    <h4 class="m-t-0">欢迎来到战斗体技能数据可视化系统！</h4>
    <div>在使用实例之前，需要进行快速设置。</div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form role="form" method="post" name="create_account">
      <div class="line_box">
        <h4 class="m-t-25">管理员</h4>
      <span class="line_icon"></span>
      </div>
      {{ render_field(form.name) }}
      {{ render_field(form.email, help_block="使用此邮箱登录系统") }}
      {{ render_field(form.password) }}

      <!--
      <div class="checkbox">
        <label>
          {{ form.security_notifications() }}
          Subscribe to Security Notifications
        </label>
      </div>

      <div class="checkbox">
        <label>
          {{ form.newsletter() }}
          Subscribe to newsletter (version updates, no more than once a month)
        </label>
      </div>
      -->
      <div class="line_box">
      <h4 class="m-t-25">常规</h4>
        <span class="line_icon"></span>
      </div>
      {{ render_field(form.org_name, help_block="输入您的组织名称（可新建）。") }}

      <button type="submit" class="btn btn-primary btn-block m-t-25">设置</button>
    </form>
  </div>
</div>
{% endblock %}
