<div class="embed-theme">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{'Embed Code' | translate}}</h4>
  </div>
  <div class="modal-body">
    <h5 style="display: inline">{{'IFrame Embed' | translate}}</h5>
    <span class="text-muted">{{'(height should be adjusted)' | translate}}</span>
    <div class="embed_code_dialog_input">
      <input type="text" readonly="readonly" class="form-control" id="iFrameUrl" value="&lt;iframe src=&quot;{{ $ctrl.embedUrl }}&quot; width=&quot;720&quot; height=&quot;391&quot;&gt;&lt;/iframe&gt;">&nbsp;
      <div class="btn-group gds_btn-group-border embed_code_dialog_btn">
        <button class="btn btn-sm hidden-xs btn-default"
                ng-click="$ctrl.copyKey()" title="复制此IFrame内容"><i class="zmdi zmdi-copy"></i></button>
      </div>
    </div>

    <div ng-if="$ctrl.snapshotUrl">
      <h5>{{'Image Embed' | translate}}</h5>
      <div>
        <code style="overflow-wrap:break-word;">{{$ctrl.snapshotUrl}}</code>
      </div>
    </div>
    <hr class="embed_code_dialog_hr" />
    <div class="embed_code_dialog_checkbox">
      <label>
        <input type="checkbox" ng-model="$ctrl.showTitle" ng-click="$ctrl.isShowTitle()">
        <i class="input-helper"></i> 显示标题
      </label>
    </div>
    <div class="embed_code_dialog_change_theme">
      <div class="btn-group hidden-print" uib-dropdown>
        <button class="btn btn-sm btn-default hidden-xs dropdown-toggle" uib-dropdown-toggle title="切换可视化风格">
          <img src="/static/images/gdsImages/change-theme.png" style="vertical-align:text-top">&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-left" uib-dropdown-menu role="menu">
          <li>
            <a ng-click="$ctrl.resetTheme()">默认</a>
          </li>
          <li ng-repeat="(themeKey, themeValue) in $ctrl.themes">
            <a ng-click="$ctrl.changeTheme(themeValue)">{{ themeKey }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="embed-visualization">
      <visualization-renderer is-use-filter="$ctrl.useFilter" visualization="$ctrl.visualization" query-result="$ctrl.queryResult" class="t-body" theme="$ctrl.theme"></visualization-renderer>
    </div>
  </div>
</div>
